/ header
.step.inline
  .num= step.num
  %select{:id => "step#{step.num}-type", :class => "step-type-chooser", "data-step" => step.num}
    - Step::TYPES.each do |type, label|
      %option{:value => type, :selected => (step.type == type)}= label
  - Step::TYPES.each do |type, label|
    %div.step-type{:class => "step#{step.num}-type", :id => "step#{step.num}-type-#{type}"}
      - klass = (step.type == type) ? "active" : ""
      - args  = (step.type == type) ? step.args : {}
      .tab-pane{:class => klass}
        .inline= render "step_#{type}", :args => args
%hr
